SLACK_CLIENT_ID=YOUR_SLACK_CLIENT_ID
SLACK_CLIENT_SECRET=YOUR_SLACK_CLIENT_SECRET
SLACK_SIGNING_SECRET=YOUR_SLACK_SIGNING_SECRET
SLACK_APP_TOKEN=YOUR_SLACK_APP_TOKEN
SLACK_BOT_TOKEN=YOUR_SLACK_BOT_TOKEN

DB_PATH=
CLOUDFLARE_API_KEY=de299eff7ceaa5006bd30245bd9a6c77
CLOUDFLARE_API_TOKEN=trcWfRL7kg_P8I0Denn_tIngbsf1ZszdZ08In75F